* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: Arial, sans-serif;

    background: #f1f3f5;

    color: #222;
}


/* =========================
   HEADER
========================= */

header {

    background: #111827;

    color: white;

    padding: 25px 5%;

    display: flex;

    justify-content: space-between;

    align-items: center;
}

header h1 {

    font-size: 30px;

    margin-bottom: 5px;
}

header p {

    color: #d1d5db;
}

.conexao {

    font-size: 14px;
}


/* =========================
   CONTEÚDO
========================= */

main {

    width: 90%;

    max-width: 1200px;

    margin: 35px auto;
}


/* =========================
   CARDS
========================= */

.sensores {

    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 20px;
}

.card {

    background: white;

    padding: 30px;

    border-radius: 12px;

    text-align: center;

    box-shadow:
        0 3px 10px
        rgba(0,0,0,0.08);
}

.card h2 {

    margin-bottom: 20px;

    font-size: 20px;
}

.valor {

    font-size: 40px;

    font-weight: bold;

    margin-bottom: 12px;
}

.status {

    color: #555;
}


/* =========================
   STATUS DA SALA
========================= */

.status-sala {

    background: white;

    margin-top: 20px;

    padding: 25px;

    border-radius: 12px;

    text-align: center;

    box-shadow:
        0 3px 10px
        rgba(0,0,0,0.08);
}

.status-sala h2 {

    margin-bottom: 15px;
}

#statusSala {

    font-size: 20px;

    font-weight: bold;

    margin-bottom: 15px;
}


/* =========================
   GRÁFICOS
========================= */

.grafico {

    background: white;

    margin-top: 20px;

    padding: 25px;

    border-radius: 12px;

    box-shadow:
        0 3px 10px
        rgba(0,0,0,0.08);
}

.grafico h2 {

    margin-bottom: 20px;
}


/* =========================
   TABELA
========================= */

.historico {

    background: white;

    margin-top: 20px;

    padding: 25px;

    border-radius: 12px;

    overflow-x: auto;

    box-shadow:
        0 3px 10px
        rgba(0,0,0,0.08);
}

.historico h2 {

    margin-bottom: 20px;
}

table {

    width: 100%;

    border-collapse: collapse;
}

th,
td {

    padding: 12px;

    border-bottom:
        1px solid #ddd;

    text-align: center;
}

th {

    background: #f3f4f6;
}


/* =========================
   FOOTER
========================= */

footer {

    text-align: center;

    padding: 30px;

    color: #666;
}


/* =========================
   RESPONSIVO
========================= */

@media (max-width: 800px) {

    .sensores {

        grid-template-columns: 1fr;
    }

    header {

        flex-direction: column;

        gap: 15px;

        text-align: center;
    }

}